root = true

[*.{gradle,kt,kts,java,xml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{gradle,kt,kts,java}]
indent_style = space
indent_size = 4

[/gradlew]
end_of_line = lf

[/gradlew.bat]
end_of_line = crlf
