<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.activity.feature.widget">

    <application>

        <receiver android:name=".provider.ActivityWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".presentation.preferences.PreferencesActivity"
            android:theme="@style/Dialog_Activity"
            android:label="@string/preferences_title"/>

    </application>

</manifest>
